#help{
 height: 700px;
 width: 350px;
 background-color: rgba(25,25,112,0.8);
 border-radius: 8px;
 margin-top: 110px;
 margin: 40px;
 padding-top: 100px;
 padding-left: 40px;
 padding-right: 30px;
 font-size: 20px;
}
#header{
  height:100px;
  padding-bottom: 20px;
}

#home_main_body{
  height: 700px;
  margin-left: 70px;
  float:right;
  padding:0px;
  background-color: rgba(230,230,250, 0.3);
  border-radius: 8px;
}
#list_main_body{
  height: 100%;
  float:right;
  background-color: rgba(230,230,250, 0.3);
  border-radius: 8px;
}
#m_profil{
 height: 700px;
 width: 350px;
 background-color: rgba(25,25,112, 0.3);
 border-radius: 8px;
 margin: 40px;
 padding-top:120px;
 padding-left: 40px;
 padding-right: 30px;
 font-size: 20px;
}
#manger_info{
  height: 10px;
  width: 230px;
  background-color: rgba(245,255,250);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

#manager_profile_info{
  height: 10px;
  width: 600px;
  margin-left:250px;
  background-color: rgba(245,255,250);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

#lawyer_form{
  padding-top:30px;
  padding-right: 200px;
  text-align: center;
  font-size: 20px;
  color:rgba(240,248,255);
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search{
  height: 50px;
  width: 700px;
  float: right;
  padding-right: 30px;
  text-align:right;
}
#searchbar{
  display: inline;
}
#lawyer_application{
  float: right;
}

#remember{
  float: right;
  padding-bottom: 50px;
  padding-right: 10px;
  color:#ffffff;
  font-size: 18px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
}
